GameClient/Connected Services/FriendshipServiceReference/GameServer.DTOs.Friendship.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="FriendRequestResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="AlreadyFriends" />
      <xs:enumeration value="Pending" />
      <xs:enumeration value="TargetNotFound" />
      <xs:enumeration value="GuestRestriction" />
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="TimeOutError" />
      <xs:enumeration value="MutualAccepted" />
      <xs:enumeration value="Error" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="FriendRequestResult" nillable="true" type="tns:FriendRequestResult" />
  <xs:complexType name="RespondRequestDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" name="RequesterUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RespondingUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespondRequestDto" nillable="true" type="tns:RespondRequestDto" />
  <xs:complexType name="ArrayOfFriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FriendDto" nillable="true" type="tns:FriendDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFriendDto" nillable="true" type="tns:ArrayOfFriendDto" />
  <xs:complexType name="FriendDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FriendDto" nillable="true" type="tns:FriendDto" />
  <xs:complexType name="GameInvitationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SenderUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInvitationDto" nillable="true" type="tns:GameInvitationDto" />
</xs:schema>