GameClient/Connected Services/FriendshipServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="receiverUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="SendFriendRequestResult" type="q1:FriendRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondToFriendRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="request" nillable="true" type="q2:RespondRequestDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RespondToFriendRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="RespondToFriendRequestResult" type="q3:FriendRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFriendListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="GetFriendListResult" nillable="true" type="q4:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPendingRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="GetPendingRequestsResult" nillable="true" type="q5:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFriend">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="friendUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFriendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="RemoveFriendResult" type="q6:FriendRequestResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameInvitation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="invitation" nillable="true" type="q7:GameInvitationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendGameInvitationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSentRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Friendship" minOccurs="0" name="GetSentRequestsResult" nillable="true" type="q8:ArrayOfFriendDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendRequestReceived">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendListUpdated">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnGameInvitationReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFriendRequestPopUp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="senderUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>