GameClient/Connected Services/FriendshipServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FriendshipService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IFriendshipService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GameServer.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFriendshipService_SendFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_SendFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RespondToFriendRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:RespondToFriendRequest" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_RespondToFriendRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:RespondToFriendRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendList" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetFriendList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFriendListResponse" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPendingRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequests" />
  </wsdl:message>
  <wsdl:message name="IFriendshipService_GetPendingRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPendingRequestsResponse" />
  </wsdl:message>
  <wsdl:portType name="IFriendshipService">
    <wsdl:operation name="SendFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/SendFriendRequest" message="tns:IFriendshipService_SendFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/SendFriendRequestResponse" message="tns:IFriendshipService_SendFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/RespondToFriendRequest" message="tns:IFriendshipService_RespondToFriendRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/RespondToFriendRequestResponse" message="tns:IFriendshipService_RespondToFriendRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendList" message="tns:IFriendshipService_GetFriendList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetFriendListResponse" message="tns:IFriendshipService_GetFriendList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IFriendshipService/GetPendingRequests" message="tns:IFriendshipService_GetPendingRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFriendshipService/GetPendingRequestsResponse" message="tns:IFriendshipService_GetPendingRequests_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IFriendshipService" type="tns:IFriendshipService">
    <wsp:PolicyReference URI="#NetTcpBinding_IFriendshipService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SendFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/SendFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RespondToFriendRequest">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/RespondToFriendRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFriendList">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetFriendList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPendingRequests">
      <soap12:operation soapAction="http://tempuri.org/IFriendshipService/GetPendingRequests" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FriendshipService">
    <wsdl:port name="NetTcpBinding_IFriendshipService" binding="tns:NetTcpBinding_IFriendshipService">
      <soap12:address location="net.tcp://localhost:8095/FriendshipService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8095/FriendshipService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>