GameClient/Connected Services/GameplayServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServer.Contracts" />
  <xs:element name="RollDice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollDiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServer.Contracts" minOccurs="0" name="RollDiceResult" nillable="true" type="q1:DiceRollDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lobbyCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="requestingUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServer.Contracts" minOccurs="0" name="GetGameStateResult" nillable="true" type="q2:GameStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>