GameClient/Connected Services/GameplayServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" />
  <xs:element name="RollDice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="request" nillable="true" type="q1:GameplayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RollDiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="RollDiceResult" nillable="true" type="q2:DiceRollDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameState">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="request" nillable="true" type="q3:GameplayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGameStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="GetGameStateResult" nillable="true" type="q4:GameStateDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="request" nillable="true" type="q5:GameplayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LeaveGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LeaveGameResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateVoteKick">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="request" nillable="true" type="q6:VoteRequestDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InitiateVoteKickResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CastVote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Gameplay" minOccurs="0" name="vote" nillable="true" type="q7:VoteResponseDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CastVoteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnVoteKickStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlayerKicked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>