GameClient/Connected Services/UserProfileServiceReference/GameServer.DTOs.User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfileDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Coins" type="xs:int" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MatchesPlayed" type="xs:int" />
      <xs:element minOccurs="0" name="MatchesWon" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UsernameChangeCount" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfileDto" nillable="true" type="tns:UserProfileDto" />
  <xs:simpleType name="UsernameChangeResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="UsernameAlreadyExists" />
      <xs:enumeration value="LimitReached" />
      <xs:enumeration value="CooldownActive" />
      <xs:enumeration value="UserNotFound" />
      <xs:enumeration value="FatalError" />
      <xs:enumeration value="IncorrectPassword" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UsernameChangeResult" nillable="true" type="tns:UsernameChangeResult" />
  <xs:complexType name="ChangePasswordRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChangePasswordRequest" nillable="true" type="tns:ChangePasswordRequest" />
</xs:schema>