GameClient/Connected Services/UserProfileServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="UserProfileService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IUserProfileService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.User" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserProfileService_GetUserProfile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfile" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_GetUserProfile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserProfileResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangeUsername_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUsername" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangeUsername_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangeAvatar_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAvatar" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangeAvatar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeAvatarResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendPasswordChangeCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordChangeCode" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendPasswordChangeCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendPasswordChangeCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangePasswordWithCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordWithCode" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_ChangePasswordWithCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordWithCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeactivateAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateAccount" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_DeactivateAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeactivateAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendUsernameChangeCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SendUsernameChangeCode" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_SendUsernameChangeCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendUsernameChangeCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateLanguage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLanguage" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_UpdateLanguage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateLanguageResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_AddSocialLink_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSocialLink" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_AddSocialLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSocialLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RemoveSocialLink_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSocialLink" />
  </wsdl:message>
  <wsdl:message name="IUserProfileService_RemoveSocialLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveSocialLinkResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserProfileService">
    <wsdl:operation name="GetUserProfile">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfile" message="tns:IUserProfileService_GetUserProfile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/GetUserProfileResponse" message="tns:IUserProfileService_GetUserProfile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ChangeUsername" message="tns:IUserProfileService_ChangeUsername_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ChangeUsernameResponse" message="tns:IUserProfileService_ChangeUsername_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeAvatar">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ChangeAvatar" message="tns:IUserProfileService_ChangeAvatar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ChangeAvatarResponse" message="tns:IUserProfileService_ChangeAvatar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPasswordChangeCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/SendPasswordChangeCode" message="tns:IUserProfileService_SendPasswordChangeCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/SendPasswordChangeCodeResponse" message="tns:IUserProfileService_SendPasswordChangeCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordWithCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/ChangePasswordWithCode" message="tns:IUserProfileService_ChangePasswordWithCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/ChangePasswordWithCodeResponse" message="tns:IUserProfileService_ChangePasswordWithCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/DeactivateAccount" message="tns:IUserProfileService_DeactivateAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/DeactivateAccountResponse" message="tns:IUserProfileService_DeactivateAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendUsernameChangeCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/SendUsernameChangeCode" message="tns:IUserProfileService_SendUsernameChangeCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/SendUsernameChangeCodeResponse" message="tns:IUserProfileService_SendUsernameChangeCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/UpdateLanguage" message="tns:IUserProfileService_UpdateLanguage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/UpdateLanguageResponse" message="tns:IUserProfileService_UpdateLanguage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSocialLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/AddSocialLink" message="tns:IUserProfileService_AddSocialLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/AddSocialLinkResponse" message="tns:IUserProfileService_AddSocialLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveSocialLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserProfileService/RemoveSocialLink" message="tns:IUserProfileService_RemoveSocialLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserProfileService/RemoveSocialLinkResponse" message="tns:IUserProfileService_RemoveSocialLink_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IUserProfileService" type="tns:IUserProfileService">
    <wsp:PolicyReference URI="#NetTcpBinding_IUserProfileService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetUserProfile">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/GetUserProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUsername">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/ChangeUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeAvatar">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/ChangeAvatar" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPasswordChangeCode">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/SendPasswordChangeCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePasswordWithCode">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/ChangePasswordWithCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/DeactivateAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendUsernameChangeCode">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/SendUsernameChangeCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateLanguage">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/UpdateLanguage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSocialLink">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/AddSocialLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveSocialLink">
      <soap12:operation soapAction="http://tempuri.org/IUserProfileService/RemoveSocialLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port name="NetTcpBinding_IUserProfileService" binding="tns:NetTcpBinding_IUserProfileService">
      <soap12:address location="net.tcp://localhost:8094/UserProfileService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8094/UserProfileService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>