GameClient/Connected Services/LobbyServiceReference/GameServer.DTOs.Lobby.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Lobby" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Lobby" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServer" />
  <xs:complexType name="CreateLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Settings" nillable="true" type="tns:LobbySettingsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateLobbyRequest" nillable="true" type="tns:CreateLobbyRequest" />
  <xs:complexType name="LobbySettingsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDto" nillable="true" type="tns:LobbySettingsDto" />
  <xs:complexType name="LobbyCreationResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="ErrorType" type="q1:LobbyErrorType" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyCreationResultDto" nillable="true" type="tns:LobbyCreationResultDto" />
  <xs:complexType name="JoinLobbyRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyRequest" nillable="true" type="tns:JoinLobbyRequest" />
  <xs:complexType name="JoinLobbyResultDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GameServer" minOccurs="0" name="ErrorType" type="q2:LobbyErrorType" />
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersInLobby" nillable="true" type="tns:ArrayOfPlayerLobbyDto" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyResultDto" nillable="true" type="tns:JoinLobbyResultDto" />
  <xs:complexType name="ArrayOfPlayerLobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerLobbyDto" nillable="true" type="tns:PlayerLobbyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerLobbyDto" nillable="true" type="tns:ArrayOfPlayerLobbyDto" />
  <xs:complexType name="PlayerLobbyDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerLobbyDto" nillable="true" type="tns:PlayerLobbyDto" />
  <xs:complexType name="LobbyStateDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="IsGameStarted" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerLobbyDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDto" nillable="true" type="tns:LobbyStateDto" />
  <xs:complexType name="ArrayOfActiveMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActiveMatchDto" nillable="true" type="tns:ActiveMatchDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActiveMatchDto" nillable="true" type="tns:ArrayOfActiveMatchDto" />
  <xs:complexType name="ActiveMatchDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="CurrentPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="HostUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActiveMatchDto" nillable="true" type="tns:ActiveMatchDto" />
  <xs:complexType name="KickPlayerRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestorUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TargetUsername" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KickPlayerRequest" nillable="true" type="tns:KickPlayerRequest" />
</xs:schema>