GameClient/Connected Services/LobbyServiceReference/GameServer.Contracts.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LobbySettingsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="IsPublic" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbySettingsDTO" nillable="true" type="tns:LobbySettingsDTO" />
  <xs:complexType name="LobbyCreationResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LobbyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyCreationResultDTO" nillable="true" type="tns:LobbyCreationResultDTO" />
  <xs:complexType name="JoinLobbyResultDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoardId" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="PlayersInLobby" nillable="true" type="tns:ArrayOfPlayerLobbyDTO" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="JoinLobbyResultDTO" nillable="true" type="tns:JoinLobbyResultDTO" />
  <xs:complexType name="ArrayOfPlayerLobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PlayerLobbyDTO" nillable="true" type="tns:PlayerLobbyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPlayerLobbyDTO" nillable="true" type="tns:ArrayOfPlayerLobbyDTO" />
  <xs:complexType name="PlayerLobbyDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsHost" type="xs:boolean" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PlayerLobbyDTO" nillable="true" type="tns:PlayerLobbyDTO" />
  <xs:complexType name="LobbyStateDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsGameStarted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Players" nillable="true" type="tns:ArrayOfPlayerLobbyDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LobbyStateDTO" nillable="true" type="tns:LobbyStateDTO" />
</xs:schema>