GameClient/Connected Services/GameServiceReference/GameService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="GameService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IGameService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://172.20.10.10:8081/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://172.20.10.10:8081/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://172.20.10.10:8081/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Auth" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGameService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IGameService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IGameService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_LoginAsGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuest" />
  </wsdl:message>
  <wsdl:message name="IGameService_LoginAsGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginAsGuestResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_Logout_InputMessage">
    <wsdl:part name="parameters" element="tns:Logout" />
  </wsdl:message>
  <wsdl:message name="IGameService_Logout_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogoutResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_VerifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccount" />
  </wsdl:message>
  <wsdl:message name="IGameService_VerifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_RequestPasswordReset_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordReset" />
  </wsdl:message>
  <wsdl:message name="IGameService_RequestPasswordReset_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPasswordResetResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_VerifyRecoveryCode_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRecoveryCode" />
  </wsdl:message>
  <wsdl:message name="IGameService_VerifyRecoveryCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyRecoveryCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdatePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePassword" />
  </wsdl:message>
  <wsdl:message name="IGameService_UpdatePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_ResendVerificationCode_InputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCode" />
  </wsdl:message>
  <wsdl:message name="IGameService_ResendVerificationCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResendVerificationCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IGameService_ChangeUserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPassword" />
  </wsdl:message>
  <wsdl:message name="IGameService_ChangeUserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeUserPasswordResponse" />
  </wsdl:message>
  <wsdl:portType name="IGameService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RegisterUser" message="tns:IGameService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RegisterUserResponse" message="tns:IGameService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/LogIn" message="tns:IGameService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/LogInResponse" message="tns:IGameService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/LoginAsGuest" message="tns:IGameService_LoginAsGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/LoginAsGuestResponse" message="tns:IGameService_LoginAsGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/Logout" message="tns:IGameService_Logout_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/LogoutResponse" message="tns:IGameService_Logout_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/VerifyAccount" message="tns:IGameService_VerifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/VerifyAccountResponse" message="tns:IGameService_VerifyAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordReset">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/RequestPasswordReset" message="tns:IGameService_RequestPasswordReset_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/RequestPasswordResetResponse" message="tns:IGameService_RequestPasswordReset_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyRecoveryCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/VerifyRecoveryCode" message="tns:IGameService_VerifyRecoveryCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/VerifyRecoveryCodeResponse" message="tns:IGameService_VerifyRecoveryCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/UpdatePassword" message="tns:IGameService_UpdatePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/UpdatePasswordResponse" message="tns:IGameService_UpdatePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ResendVerificationCode" message="tns:IGameService_ResendVerificationCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ResendVerificationCodeResponse" message="tns:IGameService_ResendVerificationCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/IGameService/ChangeUserPassword" message="tns:IGameService_ChangeUserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGameService/ChangeUserPasswordResponse" message="tns:IGameService_ChangeUserPassword_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IGameService" type="tns:IGameService">
    <wsp:PolicyReference URI="#NetTcpBinding_IGameService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IGameService/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginAsGuest">
      <soap12:operation soapAction="http://tempuri.org/IGameService/LoginAsGuest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Logout">
      <soap12:operation soapAction="http://tempuri.org/IGameService/Logout" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <soap12:operation soapAction="http://tempuri.org/IGameService/VerifyAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestPasswordReset">
      <soap12:operation soapAction="http://tempuri.org/IGameService/RequestPasswordReset" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyRecoveryCode">
      <soap12:operation soapAction="http://tempuri.org/IGameService/VerifyRecoveryCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePassword">
      <soap12:operation soapAction="http://tempuri.org/IGameService/UpdatePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResendVerificationCode">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ResendVerificationCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeUserPassword">
      <soap12:operation soapAction="http://tempuri.org/IGameService/ChangeUserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GameService">
    <wsdl:port name="NetTcpBinding_IGameService" binding="tns:NetTcpBinding_IGameService">
      <soap12:address location="net.tcp://172.20.10.10:8090/GameService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://172.20.10.10:8090/GameService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>