GameClient/Connected Services/GameServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Auth" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs.Auth" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RegisterUserRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserRequest" nillable="true" type="tns:RegisterUserRequest" />
  <xs:simpleType name="RegistrationResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="UsernameAlreadyExists" />
      <xs:enumeration value="EmailAlreadyExists" />
      <xs:enumeration value="EmailPendingVerification" />
      <xs:enumeration value="FatalError" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegistrationResult" nillable="true" type="tns:RegistrationResult" />
</xs:schema>