GameClient/Connected Services/LeaderboardServiceReference/GameServer.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaderboardDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderboardDto" nillable="true" type="tns:LeaderboardDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboardDto" nillable="true" type="tns:ArrayOfLeaderboardDto" />
  <xs:complexType name="LeaderboardDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCurrentUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderboardDto" nillable="true" type="tns:LeaderboardDto" />
  <xs:complexType name="GameServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorType" type="tns:GameServiceErrorType" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameServiceFault" nillable="true" type="tns:GameServiceFault" />
  <xs:simpleType name="GameServiceErrorType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DatabaseError" />
      <xs:enumeration value="OperationTimeout" />
      <xs:enumeration value="UnknownError" />
      <xs:enumeration value="EmptyData" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameServiceErrorType" nillable="true" type="tns:GameServiceErrorType" />
</xs:schema>