GameClient/Connected Services/LeaderboardServiceReference/GameServer.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServer.DTOs" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLeaderboardDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeaderboardDto" nillable="true" type="tns:LeaderboardDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeaderboardDto" nillable="true" type="tns:ArrayOfLeaderboardDto" />
  <xs:complexType name="LeaderboardDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AvatarPath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsCurrentUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Wins" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeaderboardDto" nillable="true" type="tns:LeaderboardDto" />
</xs:schema>