GameClient/Connected Services/LeaderboardServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServer.DTOs" />
  <xs:element name="GetGlobalLeaderboard">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestingUsername" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGlobalLeaderboardResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServer.DTOs" minOccurs="0" name="GetGlobalLeaderboardResult" nillable="true" type="q1:ArrayOfLeaderboardDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>